body {
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}
header {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    background-color: #007bff;
    color: white;
}
header img {
    align-items: center;
    height: 50px;
    width: auto;
}
header h1 h2 {
    margin: 0;
    font-size: 24px;
    text-align: left;
}
main {
    padding: 2rem;
}
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}
.button-primary {
    background-color: #046b09;
    padding: 4px 9px;
    font-size: 10px;
    color: white;
}
.button-primary:hover {
    background-color: #9ddb93;
}
.button-secondary {
    background-color: #cf1b1b;
    color: white;
}
.button-secondary:hover {
    background-color: #d47474;
}
table {
    margin: 9px 0 9px 0;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    background: white;
}
thead {
    background-color: #007bff;
    color: white;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-bottom: 2px solid #ddd;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
th {
    font-size: 11px;
}
td {
    font-size: 10px;
}
.custom-cell {
    color: white;
    padding: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;  /* Smooth transition */
}
.custom-cell:hover {
    background-color: white !important;  /* Ensure hover color takes precedence */
    color: white !important;  /* Optional: change text color on hover */
}