<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoShea Workflows</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Logo">
        <h1>Welcome to JoShea Workflows!</h1>
    </header>
    <body>
        <h1>Active DAGs: </h1>
        {% for dag_name, tasks in dags_meta_info.items() %}
            <div style="display: flex; align-items: center; gap: 10px;">
                <h2 style="margin: 0;">{{ dag_name }}</h2>
                <button class="button button-primary" onclick="launchDAG('{{ dag_name }}')">Launch</button>
            </div>
            <br/>
            <table border="1">
            <thead>
                <tr>
                    <th>Task Name</th> {# Column for Task Names #}
                    {% for i in range(tasks.values()|first|length) %}
                        <th>Run {{ i + 1 }}</th> {# Column for Step Numbers #}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for task_name, statuses in tasks.items() %}
                    <tr>
                        <td>{{ task_name }}</td>
                        {% for status in statuses %}
                            <td style="background-color: {{ status }}; color: white; padding: 5px;">
<!--                            <td>{{ status }}</td>-->
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <br/>
        {% endfor %}
        <br/>
        <button class="button button-secondary" onclick="removeAll()" style="display: inline-block;">Remove all DAGs</button>
        <button class="button button-secondary" onclick="findAllDAGs()" style="display: inline-block;">Find new DAGs</button>
        <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
    </body>
    <footer style="text-align: center; margin-top: 2rem; font-size: 14px; color: #777;">
        <p>&copy; 2025 M-A Inc.</p>
    </footer>
</body>
</html>